.gradient {
    position: fixed;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    background: radial-gradient(circle at 50% 50%,rgb(95, 165, 245), rgba(145, 223, 233, 0));
  opacity: .4;
  filter: blur(100px);
  z-index: -2;
}

.gradient2 {
    position: fixed;
    top: 10%;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    background: radial-gradient(circle at 50% 50%,rgb(0, 235, 137), rgba(145, 223, 233, 0));
  opacity: .4;
  filter: blur(100px);
  z-index: -2;
}