.contact{
    display: flex;
    align-items: center;
}

.contact_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.contact_form h1{
    font-size: 10vh;
    margin: 0;
}

.input_container {
    width: 100%;
}

.contact_form input {
    outline: none;
    border: 2px solid var(--light-color);
    border-radius: 30px;
    background-color: transparent;
    padding:16px;
    font-size: large;
    color: var(--light-color);
    width: 100%;
    margin: 16px 0;
}

.container{
    height: 100vh;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.container p{
    font-size: small;
}

.contact_details {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    line-height: 0;
}


.contact_details h2{
    font-family: "Space Grotesk" sans-serif;
    font-weight: 300;
    font-size: 5vh;
    margin: 18px 0;
}