.container {
    padding: 0 32px;
}

.footer_container{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.footer_container p{
    font-size: small;
}

.footer_container .social_links {
    display: flex;
}